<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>unnefer demo app</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body style="font-family: 'Poppins', verdana; font-weight: bold; font-size:1.3rem; color: white; background-color: #013f5e">
      
    <header>
        <h1>Welcome!!!!!!!</h1>
        <p>
            Demo application for unnefer IDP
        </p>
    </header>
    <main>
        <form action="/howdy" method="post">
                Enter Name: <input type="text" name="name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        
        <br>
    </main>
<p style="font-family: 'Poppins', verdana; font-weight: bold; line-height: 2rem; font-size:1.3rem; color: white; text-align: center; padding: 15px; background-color: #013f5e">Website : unnefer.com<br>Twitter : @shlomigonen <br>I am : Shlomi Gonen
</p>
</body>
